body {
  font-family: 'Roboto', sans-serif;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main > .headline {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	text-align: center;
	font-weight: 100;
}

main > .description {
	font-size: 1.25rem;
	text-align: center;
	font-weight: 100;
}

.icons-social i {
	font-size: 3em;
  padding: 10px;
}
