body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, seashell , skyblue);
  color: black;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main > .headline {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
  padding: 10px;
}

main > .tagline {
	font-size: 1.5rem;
	text-align: center;
	font-weight: 100;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}

.social {
	font-size: 3em;
  padding: 10px;
  text-align: center;
}
